.container{
    padding: 50px;
    border: 1px solid;
    margin-top: 30px;
    

}
body{
    background-image: url(joanna-kosinska-LAaSoL0LrYs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    -webkit-backdrop-filter: drop-shadow(500000);
}
h2{
    padding: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}